{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-info">
    <h1 class="text-center">Home Page</h1>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}