{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <div class="container text-center alert alert-success mt-5" role="alert">
        Well!! The question with id {{ question.id }} and slug {{ question.slug }} got saved 😀
    </div>
{% endblock %}